<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-rs-downloader" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>RSDownloader</name>
    
    <js-module name="RSDownloader" src="www/RSDownloader.js">
        <clobbers target="cordova.plugins.RSDownloader" />
    </js-module>
    
    <platform name="android">

        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="RSDownloader">
                <param name="android-package" value="cordova-plugin-rs-downloader.RSDownloader" />
            </feature>
        </config-file>

        <config-file parent="/*" target="AndroidManifest.xml">
        </config-file>

        <source-file src="src/android/RSDownloader.java" target-dir="src/cordova-plugin-rs-downloader/RSDownloader" />

    </platform>

</plugin>